@{
    ViewBag.Title = "CheckTransaction";
    Layout = "~/Views/Shared/_Master_Page.cshtml";
}

<link href="~/Content/Css/Style_MaterPage.css" rel="stylesheet" />
<script src="~/Content/JavaScript/JavaScript.js"></script>
<div class="ask_from">
    <div class="ask_from_system">
        TRANSACTION
    </div>
    <div class="ask_from_system_detail">
        @ViewBag.Notie2 Do you want to continues Transaction ?
    </div>
</div>
<div class="function">
    <table class="functiontable" border="0">
        <tr>
            <td colspan="2">
                <ul>
                    <li></li>
                    <li>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="right-key-ok-cancel">
                @using (Html.BeginForm("CheckTransaction", "Withdraw", new { enctype = "multipart/form-data" }))
                {
                    <input type="submit" value="OK" style="float: right !important;height: 50px !important;width: 150px !important;margin-right: 50px;" />
                }
            </td>
        </tr>
        <tr>
            <td class="right-key-ok-cancel">
                <a href="/Validation/InputCard"><input type="button" value="Cancel" /></a>
            </td>
        </tr>
    </table>
</div>
